html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.wrapper {
    display: flex;
    background-color: aquamarine;
    min-height: 100vh;
    width: 100%;
}
.main {
    display: flex;
    flex-flow: column;
    width: 88%;
}
.menu {
    width: 12%;
    background-color: #97d2b9;
    padding: 10px 10px 0px;
}

.menu ul {
    padding-left: 10px;
}

.menu ul li {
    padding: 20px;
}

.header {
    background-color: rgb(5, 108, 108);
    max-height: 150px;
}

.header img {
    height: 300px;
    width: 100%;
    overflow: hidden;      
}

.header .banner-about {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.content {
    background-color: white;
    min-height: 587px;
    padding: 20px;
}
.footer {
    background-color: #d0eadf;
    min-height: 150px;
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}